<launch>
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
                <arg name="world_name" value="$(find drift_car_gazebo)/worlds/avoidance_world.world"/>
                <arg name="gui" value="false"/>
        </include>
        <param name="robot_description" command="$(find xacro)/xacro.py $(find drift_car_description)/urdf/avoidance_car.urdf.xacro" />
        <!-- <param name="robot_description" command="$(find xacro)/xacro.py $(find drift_car_description)/urdf/truck.urdf.xacro" /> -->
        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 0 -y 0 -z 1 -model drift_car" />
</launch>
