 <launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="drift_car_localization" clear_params="true">
    <param name="output_frame" value="odom"/>
    <param name="frequency" value="50.0"/>
    <param name="sensor_timeout" value="0.1"/>
    <param name="two_d_mode" value="true"/>

    <param name="map_frame" value="map"/>
    <param name="odom_frame" value="odom"/>
    <param name="base_link_frame" value="base_link"/>
    <param name="world_frame" value="odom"/>
    
    <param name="imu0" value="/drift_car/imu_data"/>
    <rosparam param="imu0_config">[false, false, false,
                                false, false, false,
                                false, false, false,
                                false, false, false,
                                true, true, true]</rosparam>

    <param name="print_diagnostics" value="true"/>
    <param name="debug" value="true"/>
    <param name="debug_out_file" value="debug_ekf_odom.txt"/>

    <param name="reset_on_time_jump" value="true"/>
  </node>
 </launch>